{% extends 'musica_base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'musica/music_infos.css' %}" rel="stylesheet" type="text/css" /> {% endblock css %}
{% block body %}
<div id="overlay"></div>
<section class="section is-clearfix" id="Tabs">
    <div class="container">
        <div class="content">
            <div>
                <!-- Nav tabs -->
                <input type="radio" id="TabA" name="nav-tab" checked>
                <input type="radio" id="TabB" name="nav-tab">
                <input type="radio" id="TabC" name="nav-tab">
                <input type="radio" id="TabD" name="nav-tab">
                <div class="tabs is-large">
                    <ul>
                        <li class="tab-A">
                            <label for="TabA"> <a>
                                    <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                                    <span>Song</span>
                                </a></label>
                        </li>
                        <li class="tab-B">
                            <label for="TabB"> <a>
                                    <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                                    <span>Music</span>
                                </a></label>

                        </li>
                        <li class="tab-C">
                            <label for="TabC"> <a>
                                    <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
                                    <span>Videos</span>
                                </a></label>
                        </li>
                        <li class="tab-D">
                            <label for="TabD"> <a>
                                    <span class="icon is-small"><i class="far fa-file-alt"
                                            aria-hidden="true"></i></span>
                                    <span>Lyrics</span>
                                </a></label>
                        </li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane content-A">
                        <div class="card">
                            <div class="card-content columns">
                                <div class="card-image column is-narrow">
                                    <img src="{{song_infos.song_album_pic}}" alt="{{song_infos.song_title}}"
                                        style="width:250px;height:250px" />
                                </div>
                                <div class="column">
                                    <div class="content columns is-multiline">
                                        <div class="column is-hidden-touch">
                                            <img src="{{song_infos.song_album_pic}}" alt="{{song_infos.song_title}}"
                                                style="width:96px;height:96px">
                                        </div>
                                        <div class="column is-full-tablet is-10-widescreen is-full-fullhd">
                                            <p class="title is-4">{{song_infos.title}}</p>
                                            <p class="subtitle is-6">@<a target="_blank"
                                                    href="{{song_infos.song_url}}">{{song_infos.artists}}</a></p>
                                        </div>
                                        <div class="column is-full-tablet">
                                            <div>{{song_infos.song_title}} <br>
                                                所属专辑: <a target="_blank"
                                                    href="{{song_infos.song_album_url}}">{{song_infos.song_album}}</a>
                                            </div>
                                            <br>
                                            <time datetime="{{song_infos.song_album_publishTime}}">发行时间:
                                                {{song_infos.song_album_publishTime}}</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="tab-pane content-B"> <iframe frameborder="no" border="0" marginwidth="0"
                                marginheight="0" width="100%" height="86"
                                src="//music.163.com/outchain/player?type=2&id={{song_infos.song_id}}&auto=1&height=66"></iframe>
                                <button class="btn button is-info" data-clipboard-text="{{song_infos.song_title}} {{song_infos.song_url}} {N{{song_infos.song_id}}}">
                                    复制歌曲信息
                                </button>
                        </div>
                        <div class="tab-pane content-C">
                            <meting-js server="netease" type="song" id="{{song_infos.song_id}}">
                            </meting-js>
                            <!-- <meting-js auto="{{song_infos.song_url}}"> </meting-js> -->


                        </div>
                        <div class="tab-pane content-D">
                            <a target="_blank" href="{{song_infos.song_mp3}}">下载MP3</a>
                            {% if song_infos.song_lyric_url %}
                            <a target="_blank" href="{{song_infos.song_lyric_url}}">下载歌词(JSON)</a>
                            {% endif %}
                            <hr>
                            {% if song_infos.song_lyric_dict %}
                            {% for lyric_t,lyric_tl in song_infos.song_lyric_dict.items %}
                            {{lyric_tl.0.1}}</br>
                            {% endfor %}
                            {% elif song_infos.song_lyric %}
                            <p> 纯音乐，请欣赏</p>
                            {% else %}
                            <p> ...</p>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>
{% endblock body %}
{% block js %}
<script>
    function bg_overlay(img_url) {
        let bg = document.getElementById('overlay')
        bg.style.backgroundImage = "url(" + img_url + ")";
        bg.style.backgroundRepeat = "no-repeat";
        bg.style.backgroundSize = "cover"
        bg.style.backgroundPosition = "center";
    }
    bg_overlay("{{song_infos.song_album_pic}}")
    let clipboard = new ClipboardJS('.btn');  
</script>
{% endblock js %}