{% extends 'musica_base.html' %}
{% block body %}
<div class="columns">

  <div class="column is-half is-offset-one-quarter">
  	<form action="netease">
  	  <section class="hero">
        <div class="hero-body">
          <p class="title pb-5">
            网易云音乐歌曲信息工具
          </p>
          <p class="subtitle">
            <div class="field is-grouped">
              <label for="sid">网易云音乐歌曲ID或者网址(e.g. 38574767)</label>
              <input class="input" type="text" placeholder="38574767" name = "sid" value="">
              <button type="submit" class="button is-info">
                Search
              </button>
          </div>
        </form>
          </p>
        </div>
      </section>

  </div>
</div>

{% endblock %}