{% extends 'musica_base.html' %}
{% load static %}
{% load music_convert %}
{% block title %}{{song_infos.title}}{% endblock %}
{% block css %}
<link href="{% static 'musica/music_infos.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block body %}
<div id="overlay"></div>

<section class="section is-clearfix" id="Tabs">
    <div class="container">
        <div class="content">
            <div>
                <!-- Nav tabs -->
                <input type="radio" id="TabA" name="nav-tab" checked>
                <input type="radio" id="TabB" name="nav-tab">
                <input type="radio" id="TabC" name="nav-tab">
                <input type="radio" id="TabD" name="nav-tab">
                <div class="tabs is-large">
                    <ul>
                        <li class="tab-A">
                            <label for="TabA"> <a>
                                    <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
                                    <span>Song</span>
                                </a></label>
                        </li>
                        <li class="tab-B">
                            <label for="TabB"> <a>
                                    <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                                    <span>Music</span>
                                </a></label>

                        </li>
                        <li class="tab-C">
                            <label for="TabC"> <a>
                                    <span class="icon is-small"><i class="far fa-file-alt"
                                            aria-hidden="true"></i></span>
                                    <span>Lyrics</span>

                                </a></label>
                        </li>
                        <li class="tab-D">
                            <label for="TabD"> <a>
                                    <span class="icon is-small"><i class="fas fa-align-right" aria-hidden="true"></i></span>
                                    <span>Lab</span>
                                </a></label>
                        </li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane content-A">
                        <div class="card">
                            <div class="card-content columns">
                                <div class="card-image column is-narrow">
                                    <img src="{{song_infos.song_album_pic}}" alt="{{song_infos.song_title}}"
                                        style="width:250px;height:250px" />
                                </div>
                                <div class="column">
                                    <div class="content columns is-multiline">
                                        <div class="column is-hidden-touch">
                                            <a target="_blank"
                                                    href="{{song_infos.song_url}}"><img src="{{song_infos.song_album_pic}}" alt="{{song_infos.song_title}}"
                                                style="width:96px;height:96px"></a>
                                        </div>
                                        <div class="column is-full-tablet is-10-widescreen is-full-fullhd">
                                            {% if song_infos.title_tns %}
                                            <p class="title is-4">{{song_infos.title}}<span>({{song_infos.title_tns}})</span></p>
                                            {% else %}
                                            <p class="title is-4">{{song_infos.title}}</p>
                                            {% endif %}
                                            <p class="subtitle is-6">@ 
                                            {% for ar in song_infos.artists2 %}
                                                {% if ar.1 %}
                                                <a target="_blank" href="{{ar.2}}"
                                                    title="{{ar.0}}">{{ar.0}}({{ar.1}})</a>
                                                {% else %}
                                                <a target="_blank" href="{{ar.2}}" title="{{ar.0}}">{{ar.0}}</a>
                                                {% endif %}
                                                {% if not forloop.last %}
                                                /
                                                {% endif %}
                                            {% endfor %}
                                            </p>
                                        </div>
                                        <div class="column is-full-tablet">
                                            <div>
                                                所属专辑: <a target="_blank"
                                                    href="{{song_infos.song_album_url}}">{{song_infos.song_album}}</a>
                                            </div>
                                            {% if song_infos.title_alia %}
                                            <p><span>{{song_infos.title_alia}}</span></p>
                                            {% endif %}
                                            <p>
                                                 {% if not song_infos.song_copyright %}
                                                        无版权 <a href="https://y.qq.com/n/ryqq/search?w={{song_infos.song_title|url_convert}}" target="_blank">尝试QQ音乐搜索</a>
                                                        <a href="https://www.kugou.com/yy/html/search.html#searchType=song&searchKeyWord={{song_infos.song_title|url_convert}}" target="_blank">尝试酷狗音乐搜索</a>
                                                        <a href="http://www.kuwo.cn/search/list?key={{song_infos.song_title|url_convert}}" target="_blank">尝试酷我搜索</a>
                                                        {% if song_infos.song_noCopyrightRcmd != None %}
                                                        ,但可能有其它版本可播 <a href="https://music.163.com/#/search/m/?s={{song_infos.song_title|url_convert}}" target="_blank">尝试网易云搜索</a>&nbsp;&nbsp;
                                                        {% endif %}
                                                 {% endif %}
                                                 {% if song_infos.song_fee == 1 %}
                                                        付费
                                                 {% endif %}
                                            <br/>热度：{{song_infos.song_pop}}</p>

                                   
                                            <time datetime="{{song_infos.song_album_publishTime}}">发行时间:
                                                {{song_infos.song_album_publishTime}}</time>
                                        </div>
                                    </div>
                                    <button class="btn button is-info mt-5"
                                        data-clipboard-text="{{song_infos.song_title}}{% if song_infos.title_tns %}({{song_infos.title_tns}}){% endif %}">
                                        复制歌曲标题
                                    </button>
                                    <button class="btn button is-info mt-5"
                                        data-clipboard-text="{{song_infos.song_title}}&#xa;{{song_infos.song_url}}{% if not song_infos.song_copyright %}   【无版权】{% endif %}{% if song_infos.song_fee == 1 %}   【VIP】{% endif %}&#xa;{M{{song_infos.song_id}}}">
                                        复制链接(Melting)
                                    </button>
                                    <button class="btn button is-info mt-5"
                                        data-clipboard-text="[{{song_infos.song_title}}]({{song_infos.song_url}}){% if not song_infos.song_copyright %}   【无版权】{% endif %}{% if song_infos.song_fee == 1 %}   【VIP】{% endif %}&#xa;{N{{song_infos.song_id}}}">
                                        复制链接(Netease)
                                    </button>
                                    <button class="btn button is-info mt-5"
                                    data-clipboard-text="{{song_infos.song_title}}&#xa;&#xa;发行时间:{{song_infos.song_album_publishTime}}   所属专辑：{{song_infos.song_album}}&#xa;🎵 {{song_infos.song_url}}{% if not song_infos.song_copyright %}   【无版权】{% endif %}{% if song_infos.song_fee == 1 %}   【VIP】{% endif %}&#xa;{M{{song_infos.song_id}}}">
                                    复制完整歌曲信息(Melting)
                                </button>
                               
                                    <a href="{% url 'netease_song' %}">
                                        <button class="btn button is-info mt-5">+</button>
                                      </a> 
                            
                                    <br>
                                    <a href="https://www.baidu.com/s?ie=UTF-8&wd={{song_infos.song_title_}}"
                                        class="button mt-5" target="_blank">百度一下</a>

                                    <a href="https://www.google.com.hk/search?q={{song_infos.song_title_}}"
                                        class="button mt-5" target="_blank">Google一下</a>
                                        <a href="https://y.qq.com/n/ryqq/search?w={{song_infos.song_title}}"
                                        class="button mt-5 is-white" target="_blank">QQ音乐搜索</a>
                                    <a href="https://www.youtube.com/results?search_query={{song_infos.song_title_}}"
                                        class="button mt-5 is-white" target="_blank">Youtube搜索</a>
                                    <a href="//search.bilibili.com/all?keyword={{song_infos.song_title_}}"
                                        class="button mt-5 is-white" target="_blank">Bilibili搜索</a>
                                    <a href="https://search.douban.com/music/subject_search?search_text={{song_infos.artists|url_convert}}-{{song_infos.song_album|url_convert}}"
                                        class="button mt-5 is-white" target="_blank">豆瓣搜索</a>
                                        <a href="https://translate.google.com/?hl=en&sl=auto&tl=en&text={{song_infos.song_album}}%20{{song_infos.title}}"
                                        class="button mt-5 is-white" target="_blank">Google翻译</a>    
                                    <a target="_blank" href="/al/netease/?aid={{song_infos.song_album_id}}" title="{{song_infos.song_album}}" class="button mt-5 is-white">本站专辑链接</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane content-B"> <iframe frameborder="no" border="0" marginwidth="0"
                            marginheight="0" width="100%" height="86"
                            src="//music.163.com/outchain/player?type=2&id={{song_infos.song_id}}&auto=1&height=66&auto=0"></iframe>
                        <meting-js server="netease" type="song" id="{{song_infos.song_id}}">
                        </meting-js>
                        <!-- <meting-js auto="{{song_infos.song_url}}"> </meting-js> -->
                    </div>
                    <div class="tab-pane content-C">
                        <!-- download="myfilename" won't work if the filesize is not readable or the myfilename is omitted.  -->
                        <!-- Doesn't work on Chrome if file is from another domain  -->
                        <a target="_blank" href="{{song_infos.song_mp3}}" title="{{song_infos.song_title}}"
                            download="{{song_infos.song_title}}.mp3">下载MP3</a>
                        {% if song_infos.song_lyric_url %}
                        <a target="_blank" href="{{song_infos.song_lyric_url}}">下载歌词(JSON)</a>
                        {% endif %}
                        <hr>
                        {% if song_infos.song_lyric_noscroll %}
                        <b>该歌词不支持自动滚动</b>
                        {{song_infos.song_lyric| linebreaks}}
                    
                        {% elif song_infos.song_lyric_dict %}
                            {% for lyric_t,lyric_tl in song_infos.song_lyric_dict.items %}
                            {{lyric_tl.0.1| linebreaks}}
                            {% endfor %}
       
                        {% elif song_infos.song_lyric %}
                        <p> 纯音乐，请欣赏</p>
                        {% else %}
                        <p> 暂无歌词</p>
                        {% endif %}



                    </div>
                    <div class="tab-pane content-D">

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock body %}
{% block js %}
<script>
    function bg_overlay(img_url) {
        let bg = document.getElementById('overlay')
        bg.style.backgroundImage = "url(" + img_url + ")";
        bg.style.backgroundRepeat = "no-repeat";
        bg.style.backgroundSize = "cover"
        bg.style.backgroundPosition = "center";
    }
    bg_overlay("{{song_infos.song_album_pic}}");
    new ClipboardJS(".btn", {
        text: function (trigger) {
            var s = trigger.getAttribute("data-clipboard-text");
            console.log(s);
            for (var i = 0; i < s.length; i++) {
                // console.log(i, s[i], s[i].charCodeAt(0));
            }
            return s;
        }
    });
</script>
{% endblock js %}