{% extends 'musica_base.html' %}
{% block title %}{{album_infos.album.album_name}}{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'musica/music_infos.css' %}" rel="stylesheet" type="text/css" /> {% endblock css %}
{% block body %}
<div id="overlay"></div>
<section class="section is-clearfix" id="Tabs">
    <div class="container">
        <div class="content">
            <div>
                <!-- Nav tabs -->
                <input type="radio" id="TabA" name="nav-tab" checked>
                <input type="radio" id="TabB" name="nav-tab">
                <input type="radio" id="TabC" name="nav-tab">
                <input type="radio" id="TabD" name="nav-tab">
                <div class="tabs is-large">
                    <ul>
                        <li class="tab-A">
                            <label for="TabA"> <a>
                                    <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
                                    <span>Album</span>
                                </a></label>
                        </li>
                        <li class="tab-B">
                            <label for="TabB"> <a>
                                    <span class="icon is-small"><i class="fas fa-list-ul" aria-hidden="true"></i></span>
                                    <span>SongList</span>
                                </a></label>

                        </li>
                        <li class="tab-C">
                            <label for="TabC"> <a>
                                    <span class="icon is-small"><i class="fas fa-grip-horizontal" aria-hidden="true"></i></span>
                                    <span>Infos</span>
                                </a></label>
                        </li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane content-A">
                        <div class="card">
                            <div class="card-content columns">
                                <div class="column">
                                    <div class="content columns is-multiline">
            
                                            <img src="{{album_infos.album.album_artists_img}}" alt="{{album_infos.album.album_name}}"
                                            style="border-radius:50%;height:80px;width:80px;">
                                            <span class="subtitle mt-5 ml-2">@<a target="_blank"
                                                href="https://music.163.com/artist?id={{album_infos.album.album_artists_id}}">{{album_infos.album.album_artists}}</a></span>
                               
                                        <div class="column is-full-tablet is-10-widescreen is-full-fullhd">
                                            {% if album_infos.album.album_name_tns %}
                                            <p class="title is-4 mt-4">{{album_infos.album.album_name}}({{album_infos.album.album_name_tns.0}})</p>
                                            {% else %}
                                            <p class="title is-4 mt-4">{{album_infos.album.album_name}}</p>
                                            {% endif %}
                                        </div>
                                        <div class="column is-full-tablet">
                                            <div>
                                            {% if album_infos.alnum.album_company%}
                                            发行: {{album_infos.alnum.album_company}} <br>
                                            {% endif %}
                                                专辑: <a target="_blank"
                                                    href="{{album_infos.album.album_url}}">{{album_infos.album.album_name}}</a>
                                            </div>
                                            <br>
                                            <time datetime="{{album_infos.song_album_publishTime}}">发行时间:
                                                {{album_infos.album.album_publishTime}}</time>
                                            <hr>
                                            <div class="description">{{album_infos.album.album_description}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-image column is-narrow">
                                    <img src="{{album_infos.album.album_picUrl}}" alt="{{album_infos.album.album_name}}"
                                        style="width:250px;height:250px" />
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="tab-pane content-B"> 

     <table id="album" class="table">
            <thead>
                <tr>
                    <th class="show_hide">序号</th>
                    <th class="show_hide">歌曲标题</th>
                    <th class="show_hide">完整标题</th>
                    <th class="show_hide">歌手</th>
                    <th class="show_hide">歌手详细</th>
                    <!-- <th>歌曲时长</th> -->
                    <th class="show_hide">试听</th>
                    <th class="show_hide">下载MP3</th>
                    <th class="show_hide">本站链接</th>
                </tr>
            </thead>
            <tbody>
            {% for s in album_infos.songs.values %}
                <tr>
                    <td>{{ s.idx }}</td>
                    <td class = "song_title">{{ s.title }}</td>
                    <td class = "song_title">{{ s.song_title }}</td>
                    <td>{{ s.artists_name }}</td>
                    <!-- <td>NA</td> -->
                    <td>
                        {% if s.artists %}
                        {% for ar in s.artists2 %}
                            {% if ar.1 %}
                            <a target="_blank" href="{{ar.2}}" title="{{ar.0}}" >{{ar.0}}({{ar.1}})</a>
                            {% else %}
                            <a target="_blank" href="{{ar.2}}" title="{{ar.0}}" >{{ar.0}}</a>
                            {% endif %}
                            {% if not forloop.last %}
                            /
                            {% endif %}
                        {% endfor %}

                        {% endif %}
                    
                    </td>
                    <td>
                        <a target="_blank" href="{{s.song_url}}" title="{{s.song_title}}" download="{{s.song_title}}.mp3">试听</a>

                        
                    </td>
                    <td> <a target="_blank" href="{{s.song_mp3}}" title="{{s.song_title}}" download="{{s.song_title}}.mp3">下载MP3</a></td>
                   <td><a target="_blank" href="/s/netease/?sid={{s.song_id}}" title="{{ s.song_title }}" >本站链接</a>  </td>
                                
                </tr>
             {% endfor %}
            </tbody>
        </table>  
        <div class="cols-control"></div>
                        </div>
                        <div class="tab-pane content-C">



                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>
{% endblock body %}
{% block js %}
<script>
    function bg_overlay(img_url) {
        let bg = document.getElementById('overlay')
        bg.style.backgroundImage = "url(" + img_url + ")";
        bg.style.backgroundRepeat = "no-repeat";
        bg.style.backgroundSize = "cover"
        bg.style.backgroundPosition = "center";
    }
    bg_overlay("{{album_infos.album.album_picUrl}}");
    new ClipboardJS(".btn", {
    text: function(trigger) {
        var s = trigger.getAttribute("data-clipboard-text");
        console.log(s);
        for (var i = 0; i< s.length; i++) {
            // console.log(i, s[i], s[i].charCodeAt(0));
        }
        return s;
    }
});
</script>
<script>
let cols = document.querySelectorAll("th.show_hide")
let colsCon = document.querySelector(".cols-control")
checkbox_list = []
for(let i=cols.length-1;i>=0;i--)
  {
   cols_name = cols[i].textContent;
   // extract colnames
   cols_name = cols_name.replace(/(.*) \(.*/g, "$1")
   // add checkboxes
   let ii = cols.length - i;
   checkbox_list.unshift('<li><label class="checkbox"><input type="checkbox" value="hide" id="' + ii + '" onchange="hide_show_table(this.id);"> ' + cols_name + '</label></li>');
  }
// add checkboxes style
checkbox_list.unshift("<ul><li><span>显示/隐藏:</span></li>");
checkbox_list.push("</ul>");
colsCon.innerHTML += checkbox_list.join("");
document.querySelectorAll('.cols-control li').forEach(e => e.setAttribute("style", "display:inline-block;font-weight:bold;margin:5px;"));

function hide_show_table(idx)
{
 let checkbox_val=document.getElementById(idx).value;
 // The nth-child selector also counts hidden elements
 // select nth td
 td_ = "td:nth-last-of-type(" + idx  + ")";
// select nth th with class show_hide
 th_ = "th.show_hide:nth-last-of-type(" + idx  + ")";
 console.log(td_,th_);
 
 if(checkbox_val=="hide")
 {
  let all_col=document.querySelectorAll(td_);
  for(let i=0;i<all_col.length;i++)
  {
   all_col[i].style.display="none";
  }
  document.querySelector(th_).style.display="none";
  document.getElementById(idx).value="show";
 }
	
 else
 {
  let all_col=document.querySelectorAll(td_);
  for(let i=0;i<all_col.length;i++)
  {
   all_col[i].style.display="table-cell";
  }
  document.querySelector(th_).style.display="table-cell";
  document.getElementById(idx).value="hide";
 }
}</script>
{% endblock js %}